body {
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
 a:hover {
  color: #404BBF;
 }
 

.header-logo { 
    font-weight: 700;
    font-size: 18px;
    line-height: 21px; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.logo-span {
    
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.navigation-header {

}
.header-list {
}
.header-list-items {
    
    
}
.header-list-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
       
}
.header-address {
}
.header-address-list {

}
.header-address-item {
}
.header-addres-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 0.02em;
    color: #434455;
}

.hero-section {

    background-color: #2e2f42;
}
.hero-title {

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px; 
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-button {

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    line-height: 24px; 
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    padding: 16px 32px;
    
}
.hero-button:hover {
    background-color: #404BBF;
}

.section-our-features {
 
}

.title-our-features {

}

.our-features-list {}

.our-features-item {}

.title-parts-features {

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    
    line-height: 24px; 
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-features-describtion {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    
    line-height: 24px; 
    letter-spacing: 0.02em;
    color: #434455;
}

.team-section {
    background-color: #f4f4fd;
}

.logo-team {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list {}

.team-list-item {
    background-color: #fff;
}

.our-team {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;line-height: 24px; 
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.our-team-list {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.footer-title {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
        
}

.list-logo {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 0.02em;
    color: #f4f4fd;
}