body {
    font-family: serif;
    color: #111111;
    background-color: #fff;
}

ul,
ol {
    list-style: none;
    
}

 a {
     text-decoration: none;
     color: currentColor;
 }

 button {
    font-family: inherit;
    cursor: pointer;
    background-color: transparent;
 }
 address {
    font-style: normal;
 }
 a:hover {
  color: #404BBF;
 }
 


.header-logo { 
   
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.logo-span {
    
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.navigation-header {

}
.header-list {
}
.header-list-items {
    
    
}
.header-list-link {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
       
}
.header-address {
}
.header-address-list {

}
.header-address-item {
}
.header-address-link {
   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.hero-section {

    background-color: #2e2f42;
}
.hero-title {

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-button {
    
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    line-height: 1.5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0,0.15);
    background-color: #404BBF;
    color: #fff;
    letter-spacing: 0.04em;
    padding: 16px 32px;

}
.hero-button:hover {
    background-color: #404BBF;
}

.section-our-features {
 
}

.title-our-features {

}

.our-features-list {}

.our-features-item {}

.title-parts-features {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-features-describtion {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-section {

    background-color: #f4f4fd;
}

.logo-team {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list {}

.team-list-item {

    background-color: #fff;
}

.our-team {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.our-team-list {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.footer-title {

    background-color: #2e2f42;
}

.footer-logo {
   
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
        
}

.list-logo {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.portfolio-section {}

.logo-portfolio {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list {}

.portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

